* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  background-color: #f0e3d0;
  color: #4b351f;
}

h1,
h2,
p,
ul,
li {
  margin: 12px;
}

img {
  display: block;
  width: 640px;
  margin: 0 auto;
}

.container {
  width: 600px;
  margin: 0 auto;
}
